body {
    font-family: "Poppins", sans-serif;
    background-color: #f8f9fa;
    scroll-behavior: smooth;
    color: #333;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

p {
    line-height: 1.7;
}

.shadow-sm, .skill-box, .card {
    transition: 0.3s ease;
}

.navbar {
    padding: 15px 0;
}

.nav-link {
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 20px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #00ffee !important;
}

.hero-section {
    background: url("skyviem.jpg") center/cover no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}

.hero-section h1 {
    font-size: 3.5rem;
}

.hero-section p {
    font-size: 1.25rem;
}

#about img {
    max-width: 270px;
    height: 270px;
    object-fit: cover;
}

#about .lead {
    font-size: 1.1rem;
}

.skill-box {
    background: #fff;
    border-radius: 12px;
    padding: 25px;
    cursor: pointer;
    text-align: center;
}

.skill-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.skill-box i {
    color: #7325e8;
}

.skill-box h5 {
    margin-top: 10px;
    font-weight: 600;
}

#projects .card {
    border: none;
    border-radius: 12px;
}

#projects .card img {
    border-radius: 12px 12px 0 0;
}

#projects .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.18);
}

#contact input,
#contact textarea {
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
}

#contact input:focus,
#contact textarea:focus {
    border-color: #7325e8;
    box-shadow: 0 0 5px rgba(195, 65, 255, 0.5);
}

#contact button {
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 6px;
    background-color: #7325e8;
    border: none;
}

#contact button:hover {
    background-color: #7325e8;
}

footer {
    background: #111;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
